.connectModal {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 0 0 1rem 0;
    letter-spacing: 2px;
    &__error {
      color: rgb(255, 60, 60);
      font-size: larger;
      letter-spacing: 1px;
    }
  }

  &__email {
    margin: 2 0 0 0;
  }

  &__address {
    &__infos {
      display: flex;
      gap: 3rem;
    }
  }

  &__choices {
    width: 97%;
    margin-left: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__forgotPassword {
    cursor: pointer;
    margin-top: 1rem;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
    margin: 2rem 0 1rem 0;
  }
  &__logged {
    p {
      margin-top: 1rem;
    }
    span {
      margin-left: 1rem;
    }
  }
}
