.passwordForgot {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__sign {
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: no-repeat
      url('https://firebasestorage.googleapis.com/v0/b/brille-handbags.appspot.com/o/palmier-stars.png?alt=media&token=4ea20282-ac96-4e0d-9ef3-e5454e932f6a');
    background-size: cover;

    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  }
  &__hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}



