.passwordForgotContainer {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    margin-bottom: 2rem;
    letter-spacing: 2px;
  }
  &__error {
    margin-bottom: 1rem;
    letter-spacing: 1px;
    color: red;
  }
  &__button {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
