.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 2rem 0 2rem 0;
  }
  &__password {
    margin: 2rem 0 1rem 0;
  }
  &__email {
    margin: 2rem 0 1rem 0;
  }
  &__forgotPassword {
    padding: 0.5rem;
    cursor: pointer;
  }
}
