.userAccountContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/assets/images/plage_rose_marion.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__profil {
    width: 90%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
