.leftSide {
  display: flex;
  min-width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-bottom: 2rem;
  background-color: #9eb0cfd4;
  background-size: cover;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media screen and (min-width: 320px) and (max-width: 1026px) {
    display: none;
  }

  &__wrapper {
    display: flex;

    flex-direction: column;
    &__title {
      font-family: 'Josefin Sans', sans-serif;
      color: #000000;
      font-size: 23px;
    }
    &__button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      .btn-one {
        color: rgba(252, 152, 138, 0.749);
        transition: all 0.3s;
        position: relative;
        padding: 1rem;
        p {
          font-family: 'Josefin Sans', sans-serif;
          font-size: 30px;
        }
      }
      .btn-one span {
        transition: all 0.3s;
      }
      .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: #edddd0;
        border-bottom-color: #edddd0;
        transform: scale(0.1, 1);
      }
      .btn-one:hover span {
        letter-spacing: 2px;
      }
      .btn-one:hover::before {
        opacity: 1;
        transform: scale(1, 1);
      }
      .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(149, 137, 182, 0.1);
      }
      .btn-one:hover::after {
        opacity: 0;
        transform: scale(0.1, 1);
      }
    }
    &__textContainer {
      display: flex;
      gap: 10rem;
      margin-top: 2rem;
      cursor: pointer;
      p {
        font-size: 13px;
      }
    }
  }
}
