*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.essentialsPage {
  background-color: rgba(233, 246, 242, 1);
  z-index: 30;
  @media screen and (min-width: 320px) and (max-width: 1026px) {
    text-align: center;
  }
  h1 {
    text-align: center;
    @media screen and (min-width: 320px) and (max-width: 1026px) {
      text-align: center;
    }
  }
  h2 {
    text-align: center;
    cursor: pointer;
  }

  &__container {
    display: grid;
    margin-top: 1rem;
    gap: 6.9rem;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-flow: row;
    @media screen and (min-width: 320px) and (max-width: 1254px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__Images {
    width: 100%;
    background-color: rgb(204, 235, 226);
    display: flex;
  }
}

#bags {
  height: 400px;
  object-fit: contain;

  @media screen and (min-width: 320px) and (max-width: 1026px) {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
}
