
.contact{
    &__head{
        img{
            width : 100%;
            height: 60vh;
        }
    }
&__container{
    margin : auto;
    margin-top :3rem;
    margin-bottom :5rem;
    max-width: 1000px;
    background-color: #d9e1f9;
    height: 750px;
    box-sizing: border-box;
    border: radius 15px;
    box-shadow: 10px 10px 50px -10px #d6d6d6;
    &__titleWrapper{
        position: absolute;
        min-width:900px;
        min-height: 5rem;
        background-color: #f0cbc2;
        margin-left: 3rem;
        margin-top: -2rem;
        box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(74, 167, 182, 0.3);
        display:flex;
        justify-content: center;
        align-items: center;
    }
    &__form{
        &__credentials{
        display: flex;
        justify-content:space-between;
        min-width:900px;
        position: absolute;
        margin-top: 8rem;
        margin-left: 3rem;
    }
    &__mail{
        display: flex;
        justify-content:space-between;
        min-width:900px;
        position: absolute;
        margin-top: 14rem;
        margin-left: 3rem;
    }
    &__textArea{
        display: flex;
        justify-content:space-between;
        min-width:900px;
        position: absolute;
        margin-top: 22rem;
        margin-left: 3rem;

    }
    &__button{
        display: flex;
        justify-content:space-between;
        min-width:870px;
        margin:auto;
        position: absolute;
        margin-top: 35rem;
        margin-left: 4rem;
        
    }

    }
}
}

